
<div class="post-postd row mb-4 post">
  <div class="col-md-5">
    <h2>
      {{make_name}}
    </h2>
    <p>
      <span style="font-weight:bolder" class="salvage-title">Share Worthy? {{salvage_title}}</span></br>
      <span class="transmission">{{transmission}}</span>
      
    </p>
    <p style="font-weight:bolder">Posted on {{format_date createdAt}} @ {{format_time createdAt}}</p>
  </div>
  <div class="col-md-7">
   <img src={{imageUrl}} alt={{make_name}} class="listImage"/>

  </div>
</div>